:root{
	--max-width:1100px;
}

*{box-sizing:border-box}
html,body,#root{height:100%}
body{
	margin:0;
	font-family:Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
	background:linear-gradient(180deg,#f7fafc,#eef2ff);
	color:#111827;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}

.container{
	width:90%;
	max-width:var(--max-width);
	margin:0 auto;
}
